@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Tailwind has some defaults that are pretty annoying in certain circumstances.  For example, the
focus defaults for inputs put a white ring around things.  Since they are extremely specific to
certain elements, it's annoying to override them every time an input element is placed.  I don't
think they should have included colors with these presets.  Anyway, fixed as few defaults as was
possible to achieve better uniformity throughout the GUI. 

Referenced: https://github.com/tailwindlabs/tailwindcss-forms/blob/master/src/index.js */
@layer base {

  body {
    @apply antialiased font-inter text-core-4 dark:text-core-1 bg-core-0 dark:bg-core-4
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply rounded p-1 border border-inherit text-inherit bg-inherit 
      focus:ring-2 focus:ring-hl-0 focus:ring-offset-0 focus:ring-offset-transparent focus:outline-none focus:border-transparent;
  }

  input,
  textarea {
    @apply placeholder:text-current placeholder:italic placeholder:opacity-75;
  }

  select {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M6.34317 7.75732L4.92896 9.17154L12 16.2426L19.0711 9.17157L17.6569 7.75735L12 13.4142L6.34317 7.75732Z' fill='rgb(46,52,64)'/%3E%3C/svg%3E");
    @apply rounded-sm w-auto pl-1 pr-6 py-0 text-input-2 text-sm bg-right bg-no-repeat bg-input-1 border-input-2;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply focus:ring-0 focus:ring-transparent focus:ring-offset-0 focus:ring-offset-transparent focus:border-transparent;
  }

  [type='checkbox']:checked {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M10.5858 13.4142L7.75735 10.5858L6.34314 12L10.5858 16.2427L17.6568 9.1716L16.2426 7.75739L10.5858 13.4142Z' fill='rgb(46,52,64)'/%3E%3C/svg%3E");
    border-color: transparent;
  }

  a {
    @apply focus:ring-2 focus:ring-hl-0 focus:ring-offset-0 focus:ring-offset-transparent focus:outline-none;
  }

  table, th, td {
    @apply p-0.5 text-left border-spacing-0 border-collapse
  }

  table {
    @apply w-full bg-inherit border-2
  }

  th {
    @apply border-y-2 border-x bg-button-0 dark:bg-button-2
  }

  td {
    @apply border
  }

  tbody > tr:nth-child(odd) {
    @apply bg-core-0 dark:bg-core-4
  }

  * {
    @apply border-core-2 dark:border-core-3
  }
}

/* Style the simpl-datatables JS libray since it's the only way to get some styles into the injected classes. */
.datatable-top,
.datatable-bottom {
	@apply p-2
}

.datatable-top > nav:first-child,
.datatable-top > div:first-child,
.datatable-bottom > nav:first-child,
.datatable-bottom > div:first-child {
  @apply float-left
}

.datatable-top > nav:last-child,
.datatable-top > div:last-child,
.datatable-bottom > nav:last-child,
.datatable-bottom > div:last-child {
	@apply float-right
}

.datatable-info {
  @apply p-2
}

/* PAGER */
.datatable-pagination ul {
  @apply m-0 pl-0
}

.datatable-pagination li {
  @apply list-none float-left
}

.datatable-pagination li.datatable-hidden {
    visibility: hidden;
}

.datatable-pagination a {
  @apply relative float-left px-4 py-2 ml-1 cursor-pointer bg-core-0 dark:bg-core-4;
}

.datatable-pagination a:hover {
	@apply text-button-2 dark:text-button-1
}

.datatable-pagination .datatable-active a,
.datatable-pagination .datatable-active a:focus,
.datatable-pagination .datatable-active a:hover {
  @apply text-current bg-button-0 dark:bg-button-2 cursor-default;
}

.datatable-pagination .datatable-ellipsis a,
.datatable-pagination .datatable-disabled a,
.datatable-pagination .datatable-disabled a:focus,
.datatable-pagination .datatable-disabled a:hover {
  @apply pointer-events-none cursor-default;
}

.datatable-pagination .datatable-disabled a,
.datatable-pagination .datatable-disabled a:focus,
.datatable-pagination .datatable-disabled a:hover {
	cursor: not-allowed;
	opacity: 0.4;
}

.datatable-pagination .datatable-pagination a {
	@apply font-bold
}

/* TABLE */

.datatable-table th {
  @apply bg-button-0 dark:bg-button-2
}

.datatable-table th a {
  @apply no-underline text-inherit
}

.datatable-sorter, .datatable-filter {
  @apply inline-block h-full relative w-full
}

.datatable-sorter::before,
.datatable-sorter::after {
  content: "";
  @apply h-0 w-0 absolute right-1 border-solid border-4 border-transparent opacity-40
}


.datatable-sorter::before {
  @apply border-t-4 border-t-current bottom-0
}

.datatable-sorter::after {
  @apply border-b-4 border-b-current top-0
}

.datatable-ascending .datatable-sorter::after,
.datatable-descending .datatable-sorter::before,
.datatable-ascending .datatable-filter::after,
.datatable-descending .datatable-filter::before {
	@apply opacity-80
}

.datatable-filter::before {
    content: "";
    position: absolute;
    right: 4px;
    opacity: 0.2;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
	  border-radius: 50%;
    border-top: 10px solid #000;
    top: 25%;
}

.datatable-filter-active .datatable-filter::before {
    opacity: 0.6;
}

.datatable-empty {
	text-align: center;
}

.datatable-top::after, .datatable-bottom::after {
	clear: both;
	content: " ";
	display: table;
}

table.datatable-table:focus tr.datatable-cursor > td:first-child {
	border-left: 3px blue solid;
}

table.datatable-table:focus {
	outline: solid 1px black;
    outline-offset: -1px;
}